<div class="page-header">
  <%= link_to new_journal_submission_path(journal_id: @journal_journal.id), :class => 'btn btn-primary bbtn-material-red' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('journal.submissions.add_new') %>
  <% end %>
  <h1><%= t('journal.submissions.my_list_title') %></h1>
</div>

<div class="list-group">
  <% @journal_submissions.each do |journal_submission| %>
    <%= link_to(journal_submission, class: "list-group-item") do %>
      <h4 class="list-group-item-heading"><%= journal_submission.title %></h4>
      <p class="list-group-item-text"><%= journal_submission.abstract %></p>
      <p class="list-group-item-text">
        <b>Id: </b><%= journal_submission.id %><br/>
        <b>State: </b><%= journal_submission.aasm_state %><br/>
      </p>
    <% end %>
  <% end %>
</div>

