<div class="page-header">
  <%= link_to new_journal_submission_path(journal_id: @journal_journal.id), :class => 'btn btn-primary bbtn-material-red' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('journal.submissions.add_new') %>
  <% end %>
  <h1><%= t('journal.submissions.my_list_title') %></h1>
</div>

<div class="list-group">
  <% @journal_submissions.each do |journal_submission| %>
    <%= link_to(journal_submission, class: "list-group-item") do %>
      <h4 class="list-group-item-heading"><%= journal_submission.title %></h4>
      <p class="list-group-item-text"><%= journal_submission.abstract %></p>
      <p class="list-group-item-text">
        <b>Id: </b><%= journal_submission.id %><br/>
        <b>State: </b><%= journal_submission.aasm_state %><br/>
      </p>
    <% end %>
  <% end %>
</div>




    <!-- a href="#" class="btn bbtn-default btn-primary" data-toggle="modal" data-target="#basicModal">
      <i class="fa fa-plus"></i> Attach File
    </a>

<div class="modal ffade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" sstyle="overflow:auto;">
                <h3>Modal Body</h3>
<div style='overflow-x: scroll;'>
<div style='display:table;'>


<div ng-repeat="a in files" style="border: 1px solid; ffloat: left; margin: 10px; display: table-cell;">
  <img class="mmedia-object iimg-thumbnail" ng-src='{{a.data.thumb_url}}'>
  <p>
    <button type="button" class="btn btn-default btn-sm" ng-click="a.add()">Attach {{a.data.filename}}</button>
  </p>
</div>

</div>
</div>

<form>
  <input id="fileupload" type="file" ng-file-select="onFileSelect($files)" style='display: none;' accept="application/pdf">

<div class="input-append">
    <a href="#" class="btn btn-default btn-sm" onclick="$('input[id=fileupload]').click();">
      <i class="fa fa-upload"></i> Upload new file
    </a>
</div>

<div id="fileuploadprogress" class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    <span cclass="sr-only"><i class="fa fa-spin fa-spinner"></i></span>
  </div>
</div>


</form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div -->





