<!--
      <tr>
            <td><%= journal.title %></td>
            <td><%= journal.description %></td>
            <td><%= journal.slug %></td>
            <td><%= journal.user.full_name %></td>
            <td><%= link_to 'Show', journal %></td>
            <% if current_user.is_admin? %>
                <td><%= link_to 'Edit', edit_journal_journal_path(journal) %></td>
                <td><%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' }, rremote: true %></td>
            <% end %>
      </tr>
-->

