<div class="page-header">
  <%= link_to journal_journals_path, :class => 'btn btn-default' do %>
    <i class="fa fa-level-up fa-lg"></i>
    <%= t('journal.journals.list_title') %>
  <% end %>
  <%= link_to @journal_journal, :class => 'btn btn-primary' do %>
    <i class="fa fa-info fa-lg"></i>
    <%= t('journal.edit_journal.show_btn') %>
  <% end %>
  <h1><%= t('journal.edit_journal.page_title') %></h1>
</div>

<%= render 'form' %>
