<div class="page-header">
  <%= link_to new_journal_journal_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Journal
  <% end if current_user.is_admin? %>
  <h1>Listing journal_journals</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Slug</th>
            <th>User</th>
            <th></th>
            <% if current_user.is_admin? %>
              <th></th>
              <th></th>
            <% end %>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%#= render @journal_journals %>

      <%= content_tag_for(:tr, @journal_journals) do |journal_journal| %>
            <td><%= journal_journal.title %></td>
            <td><%= journal_journal.description %></td>
            <td><%= journal_journal.slug %></td>
            <td><%= journal_journal.user.full_name %></td>
            <td><%= link_to 'Show', journal_journal %></td>
            <% if current_user.is_admin? %>
                <td><%= link_to 'Edit', edit_journal_journal_path(journal_journal) %></td>
                <td><%= link_to 'Destroy', journal_journal, method: :delete, data: { confirm: 'Are you sure?' }, rremote: true %></td>
            <% end %>
            <td><%= link_to 'My Submissions', journal_submissions_path(journal_id: journal_journal.id) %></td>
      <% end %>

    </tbody>
  </table>
</div>
