<div class="page-header">
  <%= link_to new_journal_journal_path, :class => 'btn btn-primary' do %>
    <i class="fa fa-plus fa-lg"></i>
    <%= t('journal.journals.new_journal_btn') %>
  <% end if current_user && current_user.is_admin? %>
  <h1><%= t('journal.journals.list_title') %></h1>
</div>


<div class="list-group">
  <% @journal_journals.each do |journal_journal| %>
    <%= link_to(journal_journal, class: "list-group-item") do %>
      <h4 class="list-group-item-heading"><%= journal_journal.title %></h4>
      <p class="list-group-item-text"><%= journal_journal.description %></p>
    <% end %>
  <% end %>
</div>
