<div class="page-header">
  <%= link_to journal_journals_path, :class => 'btn btn-default' do %>
    <i class="fa fa-level-up fa-lg"></i>
    <%= t('journal.journals.list_title') %>
  <% end %>
  <%= link_to edit_journal_journal_path(@journal_journal), :class => 'btn btn-primary' do %>
    <i class="fa fa-edit fa-lg"></i>
    <%= t('journal.show_journal.edit_btn') %>
  <% end if current_user && current_user.is_admin? %>
  <%= link_to @journal_journal, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' do %>
    <i class="fa fa-trash-o fa-lg"></i>
    <%= t('journal.show_journal.destroy_btn') %>
  <% end if current_user && current_user.is_admin? %>


  <!-- h1><%#= t('journal.journal.page_title') %></h1 -->
  <h1><%= @journal_journal.title %></h1>
</div>

<p>
  <%= @journal_journal.description %>
</p>

<div class="panel panel-default">
  <div class="panel-body">
    <!--
    <%#= link_to journal_submissions_path(journal_id: @journal_journal.id), class: 'btn btn-xlg btn-success' do %>
      <i class="fa fa-user"></i><br>
      Author
    <%# end %>
    -->

    <%
      all_roles = [
        {name: 'chief_editor', path: journal_ce_path(journal_id: @journal_journal.id)},
        {name: 'reviewer', path: journal_r_path(journal_id: @journal_journal.id)},
        {name: 'author', path: journal_submissions_path(journal_id: @journal_journal.id)}
      ]
      my_roles = ['author'] | @journal_journal.user_roles(current_user)
    %>

    <% all_roles.each do |role| %>
      <%= link_to role[:path], class: 'btn btn-xlg btn-success' do %>
        <i class="fa fa-user fa-2x"></i><br>
        <%= t('journal.role_name.'+role[:name]) %>
      <% end if my_roles.include?(role[:name]) %>
    <% end %>

  </div>
</div>

<!-- dl class="dl-horizontal">
  <dt><%#= t('journal.journal.title') %>:</dt>
  <dd><%#= @journal_journal.title %></dd>

  <dt><%#= t('journal.journal.description') %>:</dt>
  <dd><%#= @journal_journal.description %></dd>

  <dt><%#= t('journal.journal.slug') %>:</dt>
  <dd><%#= @journal_journal.slug %></dd>

  <dt><%#= t('journal.journal.owner') %>:</dt>
  <dd><%#= @journal_journal.user.full_name %></dd>
</dl -->


