<article>
<h1>
        <%= t('profile.page_title') %>
</h1>

<div class="panel panel-default">
        <div class="panel-body media">
                <div class="pull-left" href="#">
                        <!-- img class="media-object img-thumbnail" src="http://placehold.it/150x225/eeeeee" alt="" -->
                        <img class="media-object img-thumbnail" src="http://placehold.it/180x180/eeeeee" alt="">
                </div>
                <div class="media-body">
                        <h4 class="media-heading">
                                <%= t('profile.user_full_name') %>: <b><%= @user.full_name %></b>
                                <% if user_signed_in? && current_user.id==@user.id %>
                                        <small>(<%= link_to('edit my info', edit_user_registration_path) %>)</small>
                                <% end %>
                        </h4>
                        <%#= @user.inspect %>
                </div>
        </div>

        <div class="panel-body">
                <%= render partial: 'profile/part/user_journal_appointments', locals: {user: @user} %>
        </div>

</div>


</article>
