<ol class="breadcrumb">
	<!-- li><a href="/"><%#= t('journal.breadcrumb.root') %></a></li -->

	<% if @section_journal_journals %>
		<li><%= link_to(t('journal.breadcrumb.journals'), journal_journals_path)  %></li>
	<% end %>
	<% if @journal_journal && @journal_journal.persisted? %>
		<li><%= link_to(@journal_journal.title, @journal_journal)  %></li>
		<% if @section_journal_submissions %>
			<li><%= link_to(t('journal.breadcrumb.author_submissions'), journal_submissions_path(journal_id: @journal_journal.id))  %></li>
		<% end %>

		<% if @journal_submission && @journal_submission.persisted? %>
			<li><%= link_to("(%d) " % @journal_submission.id + @journal_submission.title, journal_submission_path(@journal_submission))  %></li>
		<% end %>
	<% end %>

<%#= controller_name %>

	<% if @journal && @journal.persisted? %>
		<li><%= link_to(@journal.title, @journal) %></li>
		<% if @section_journal_chief_editor_office %>
			<li><%= link_to(t('journal.breadcrumb.ce_office_title'), journal_ce_path(journal_id: @journal.id)) %></li>
			<% if @submission && @submission.persisted? %>
				<li><%= link_to("(%d) " % @submission.id + @submission.title, journal_ce_submission_path(@submission))  %></li>
			<% end %>
		<% end %>
		<% if @section_journal_reviewer_office %>
			<li><%= link_to(t('journal.breadcrumb.r_office_title'), journal_r_path(journal_id: @journal.id)) %></li>
			<% if @submission && @submission.persisted? %>
				<li><%= link_to("(%d) " % @submission.id + @submission.title, journal_r_submission_path(@submission))  %></li>
			<% end %>
		<% end %>

	<% end %>


</ol>