        <% if user_signed_in? %>
          <li><a href="<%= profile_path(current_user) %>"><%= t('journal.nav.my_profile') %>:
            <i class="fa fa-user"></i> <%#= current_user.email %><%= current_user.full_name %></a></li>
          <li><%= link_to(destroy_user_session_path, :method => :delete) do %>
            <i class="fa fa-sign-out"></i> <%= t('journal.nav.logout') %>
          <% end %></li>
        <% else %>
          <li><%= link_to(new_user_session_path) do %>
            <i class="fa fa-sign-in"></i> <%= t('journal.nav.login') %>
          <% end %></li>
        <% end %>
